extends layout

block content
  h1 Tasks List 

  if tasks.length > 1
    h4  there are #{tasks.length} tasks
  else 
    span there is one task

  button hello 

  each task in tasks
    ul.card
      li title : #{task.title}
      li text : #{task.text} 
      li dead line date : #{task.deadlineDate}  
      li id : #{task.id}  
  